* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    background-color: #333;
    display: flex;
    list-style-type: none;
}
.menu li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 20px;
    transition: 0.3s ease-in-out;
    
}
.menu li a:hover{
    background-color: aqua;
}
@media screen and (max-width: 600px){
    .menu{
        flex-direction: column;
        
    }
    .menu li{
        float: left;
        width: 100%;
    }
    .menu li {
        width: 100%; 
        border-bottom: 1px solid #444;
    }

    .menu li a {
        text-align: left; 
        padding: 15px;
    }
    .menu li:not(:first-child) {display: none;}
    .icon {
        display: block;
        color: white;
        font-size: 25px;
        padding-right: 15px;
        cursor: pointer;
    }
    .menu.responsive li {
        display: block;
    }
}
